@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.postheader {
	font-family: 'Amatic SC';
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.post {
	font-family: sans-serif;
	width: 750px;
	border: 5px solid white;
	margin: auto;
	padding: 10px;
	color: white;
}